<!--<div class="container">
<div style="float:right">
<b style="font-size: 17px">Environment Details </b> for recent <input style="width: 57px; text-indent: 8px" ng-model="numberOfRecentRuns" type="number" /> runs <button style="height:27px; line-height:11px;" class="btn btn-primary" ng-click="setEvironment(numberOfRecentRuns)"> Submit</button>
</div><br /><br />-->
<h3 align="center">Chart With Sample Data</h3><br/><br/><br/>
  <div class="container">     <!--<div google-chart chart="chart" style="{{chart.cssStyle}}" on-select="seriesSelected(selectedItem)"></div>-->
    <linechart data="data" options="options" height="500" width="1000"></linechart>
  </div>
</div>