<div ng-controller="HomeController">
        <a ng-show="chartMode === true"  ng-click="toggleChartMode()"  class="chartMode" href="#/chart">Open chart mode</a>
        <a ng-show="chartMode === false" ng-click="toggleChartMode()"  class="chartModeClose" href="#/">Close chart mode</a>
</div>


<!-- <span style="font-size:14px" style="cursor:pointer" sidebar-main-directive class="label"><a ng-click="states.activeItemId=env.name; sharingFactory.runPath=env.name" ng-class="{'active': env.name === states.activeItemId}" href="#/environments/{{env.name}}">{{env.name}}</a></span>-->