<!--<h3>Environment Details</h3>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>TestCase Name</th>
                    <th>Total Runs</th>
                    <th>Passed</th>
                    <th>Failed</th>
                    <th>Successful Min</th>
                    <th>Successful Max</th>
                    <th>Successful Average</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="testCaseData in env.testCaseData">
                    <td>{{ testCaseStats.name }}</td>
                    <td>{{ testCaseStats.totalRuns }}</td>
                    <td>{{ testCaseStats.passed }}</td>
                    <td>{{ testCaseStats.failed }}</td>
                    <td>{{ testCaseStats.successfulMin }}</td>
                    <td>{{ testCaseStats.successfulMax }}</td>
                    <td>{{ testCaseStats.successfulAvg }}</td>
                </tr>
            </tbody>
        </table>

<hr /><hr /><hr />-->
<h4>Environment Details </h4><!--({{sharingFactory.runPath}})--><br />
<tabset>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>TestCase Name</th>
                    <th>Total Runs</th>
                    <th>Passed</th>
                    <th>Failed</th>
                    <th>Successful Min</th>
                    <th>Successful Max</th>
                    <th>Successful Average</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="testCaseStats in tab.content">
                    <td>{{ testCaseStats.name }}</td>
                    <td>{{ testCaseStats.totalRuns }}</td>
                    <td>{{ testCaseStats.passed }}</td>
                    <td>{{ testCaseStats.failed }}</td>
                    <td>{{ testCaseStats.successfulMin }}</td>
                    <td>{{ testCaseStats.successfulMax }}</td>
                    <td>{{ testCaseStats.successfulAvg }}</td>
                </tr>
            </tbody>
        </table>
    </tab>
</tabset>

<!--<pre>{{ env.testCaseData | json }}</pre>-->