<!--<h3>Environment Details</h3>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>TestCase Name</th>
                    <th>Total Runs</th>
                    <th>Passed</th>
                    <th>Failed</th>
                    <th>Successful Min</th>
                    <th>Successful Max</th>
                    <th>Successful Average</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="testCaseData in env.testCaseData">
                    <td>{{ testCaseStats.name }}</td>
                    <td>{{ testCaseStats.totalRuns }}</td>
                    <td>{{ testCaseStats.passed }}</td>
                    <td>{{ testCaseStats.failed }}</td>
                    <td>{{ testCaseStats.successfulMin }}</td>
                    <td>{{ testCaseStats.successfulMax }}</td>
                    <td>{{ testCaseStats.successfulAvg }}</td>
                </tr>
            </tbody>
        </table>

<hr /><hr /><hr />-->
<b style="font-size: 17px">Environment Details </b> for recent <input style="width: 57px; text-indent: 8px" ng-model="numberOfRecentRuns" type="number" /> runs <button style="height:27px; line-height:11px;" class="btn btn-primary" ng-click="setParentEvironment(numberOfRecentRuns)"> Submit</button><br /><br />
<tabset>
    <tab ng-repeat="tab in tabs track by $index" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>TestCase Name</th>
                    <th>Total Runs</th>
                    <th>Passed</th>
                    <th>Failed</th>
                    <th>Successful Min</th>
                    <th>Successful Max</th>
                    <th>Successful Average</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="testCaseStats in tab.content track by $index">
                    <td>{{ testCaseStats.name }}</td>
                    <td>{{ testCaseStats.totalRuns }}</td>
                    <td>{{ testCaseStats.passed }}</td>
                    <td>{{ testCaseStats.failed }}</td>
                    <td>{{ testCaseStats.successfulMin }}</td>
                    <td>{{ testCaseStats.successfulMax }}</td>
                    <td>{{ testCaseStats.successfulAvg }}</td>
                </tr>
            </tbody>
        </table>
    </tab>
</tabset>

<!--<pre>{{ env.testCaseData | json }}</pre>-->
<!--<pre>{{ env | json }}</pre>
<pre>{{ environments | json }}</pre>-->
