    <h1 class="text-center">Performance Reporting App ( beta version )</h1>
    <br />
    <div class="well text-center">
        Chart ( TestResults: x -> day, y -> duration )
    </div>








<!--<div id="wrapper toggled">

         Sidebar 
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Recent Runs
                    </a>
                </li>
                <li><label class="tree-toggle nav-header">Run 1</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Child 1 of Run 1</a></li>
                        <li><a href="#">Child 2 of Run 1</a></li>
                    </ul>
                </li>
                <li><label class="tree-toggle nav-header">Run 2</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Child 1 of Run 2</a></li>
                        <li><a href="#">Child 2 of Run 2</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>-->



