<h1 class="text-center">Performance Reporting App ( beta version )</h1><br />
<div style="float:right">
<b style="font-size: 17px">Display Statistics </b> for recent
<input style="width: 57px; text-indent: 8px" ng-model="numberOfRecentRuns" type="number" /> runs
<button style="height:27px; line-height:11px;" class="btn btn-primary" ng-click="setEvironments(numberOfRecentRuns)"> Submit</button>
</div>

<br />
<br />
<br />
<comparison-table environments="environments"></comparison-table>


<!--
  <pre>{{ environments | json }}</pre>
-->


<!--<div id="wrapper toggled">

         Sidebar 
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Recent Runs
                    </a>
                </li>
                <li><label class="tree-toggle nav-header">Run 1</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Child 1 of Run 1</a></li>
                        <li><a href="#">Child 2 of Run 1</a></li>
                    </ul>
                </li>
                <li><label class="tree-toggle nav-header">Run 2</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Child 1 of Run 2</a></li>
                        <li><a href="#">Child 2 of Run 2</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>-->