<!--
        <li class="liTree" ng-repeat = "run in runs">
            <label ng-click="toggleTree($event)" class="tree-toggle"><i>{{run.buildNumber}}</i></label> 
            <ul class="tree">
                <li ng-repeat = "childRun in run.children">
                    <a href="#/runs/{{childRun.id}}">{{childRun.environment.name}}</a>
                </li>
            </ul>
        </li>-->

<div ng-cloak class="tree"  ng-controller="HomeController">
    <div class="runForm">
    <form class="form-inline" ng-submit="getParentRuns(numberOfParentRuns)">
        <div class="form-group">
            <input class="form-control" name="numberOfParentRuns" style="width: 180px;" ng-model="numberOfParentRuns" type="number" placeholder="Max # of parent Runs" /> 
        </div>
        <button type="submit" class="btn btn-default">Display</button>
    </form>
    </div>
    <ul>
<!--        <li>
            <span class="label label-success"><i class="glyphicon glyphicon-minus-sign"></i> Monday, January 7: 8.00 hours</span>
            <ul>
                <li>
                    <a href=""><span>8.00</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span class="label label-success"><i class="glyphicon glyphicon-minus-sign"></i> Tuesday, January 8: 8.00 hours</span>
            <ul>
                <li>
                     <a href=""><span>2.00</span></a>
                </li>
                <li>
                     <a href=""><span>3.00</span></a>
                </li>
            </ul>
        </li> -->
        <li  ng-repeat="run in runs track by $index">
            <span style="cursor:pointer" sidebar-main-directive class="label label-success"><i class="glyphicon glyphicon-plus-sign"></i> {{ run.buildNumber }}</span>
            <ul>
                <li ng-repeat="childRun in run.children track by $index" sidebar-repeat-directive>
                    <a ng-click="states.activeItemId=childRun.id; sharingFactory.runPath=run.buildNumber + ' --> ' + childRun.environment.name" ng-class="{'active': childRun.id === states.activeItemId}" href="#/runs/{{childRun.id}}"> {{ childRun.environment.name }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>



<!--<script>
$(function () {

});
</script>-->