<!doctype html>
<html ng-app="perf_reportingApp" ng-cloak>

<head>
    <title>Performance Report</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="HomeController">
    <div id="wrapper">
        <!--<run-sidebar></run-sidebar>-->
<!--        <div class="container" style="padding-top: 10px">-->
<!--            <div class="row">
                <div class="col-md-2 col-sm-2">
                <div ng-if="hasSidebar" ng-include="'app/views/sidebar.html'"></div>
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="container">-->
        <div ng-if="hasSidebar" ng-include="'app/views/sidebar.html'"></div>
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-view></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
                        
<!--                    </div>
                </div>
            </div>-->
 <!--       </div>-->
    </div>
    <!-- angular modules -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <!-- main app -->
    <script src="app/app.js"></script>
    <script src="app/services/sharingFactory.js"></script>
    <script src="app/controllers/RunController.js"></script>
    <script src="app/controllers/EnvironmentController.js"></script>
    <script src="app/controllers/HomeController.js"></script>
    <script src="app/directives/sidebarMainDirective.js"></script>
    <script src="app/directives/sidebarRepeatDirective.js"></script>
    <script src="app/services/perfFactory.js"></script> 
    <script src="app/services/sharingFactory.js"></script>
<!--    <script src="app/services/sharingFactory.js"></script> -->
</body>
</html>